 
//
//

* {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
    background: black;
    color: gray;
    text-align: center;
  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    height: 150px
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }

.character-first {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    background-size: cover;
    background-color: black;
}

.character-second {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    background-size: cover;
    background-color: black;
}

.character-third {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    background-size: cover;
    background-color: black;
}

#character1 {
    background-image: url("/assets/images/1.png");
}

#character2 {
    background-image: url("/assets/images/2.png");
}

#character3 {
    background-image: url("/assets/images/5.png");
}

#character4 {
    background-image: url("/assets/images/6.png");
}

#character5 {
    background-image: url("/assets/images/9.png");
}

.weapon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    background-size: cover;
    background-color: black;
}

#sword {
    background-image: url("/assets/images/sword.png");
}

#shield {
    background-image: url("/assets/images/shield.png");
}

#ballchain {
    background-image: url("/assets/images/ballchain.png");
}

.special {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: none;
    background-size: cover;
    background-color: black;
}

#fireball {
    background-image: url("/assets/images/fireball.png");
}

#ninja {
    background-image: url("/assets/images/ninja.png");
}

#lightening {
    background-image: url("/assets/images/lightening.png");
}

button {
    margin: 25px 25px 25px 25px;
}

button.character {
    margin: 25px 25px 25px 25px;
    outline: solid;
    outline-color: gray;
}

button.character:active {
    outline: solid;
    outline-color: green;
}

button.character:hover {
    outline: solid;
    outline-color: green;
}
