/* Header */
* {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 100%, 50%);
  }
  body {
    margin: 0;
    background: black;
    text-align: center;
  }

h2 {
    color: gold
  }

  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    height: 150px
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }

  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }


  /* Body */


body {
    color: white;
    background-color: black;   
    text-align: center;
    width: 350px;
    margin: auto;
}

/* Top Section */

#topUserProfile, #topStats, #topBalances {
    width: 33%;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.vars {
    width: 20%;
    height: 50px;
    display: inline-block;
}

#topUserProfile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



/* selects */

img {
    height: 100px;
    width: 100px;    
}


/* User balances / bounty / Player Variables */



.userBalances, .userBounty {
    float: left;
    width: 50%;
    text-align: center;
}

.playerVariables {
    float: left;
    width: 25%;
    padding: 5px;
}


/*Arena images*/
#a1 {
    width: 25px;
    height: 25px;
}


/* image as radio button and hide the actual radio button */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    outline: solid black;
    background-color: black;
    margin: 5px;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 5px solid red;   
  }

   /* Hover STYLES */
   [type=radio]:hover + img {
    outline: 5px solid gold;   
  }


  /* Collapsible expansions */
  details {
    width: 100%;
    user-select: none;
  }
  
 summary {
    width: 100%;
    display: flex;
    cursor: pointer;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
  

  /* Profile Card */

  #profileCard {
    border: solid gold;
    width: 75%;
    display: inline-block;
  }

  #profileCardCharacter {
    width: 100%;
  }

  #profileCardCharacter img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  

  #profileCardWeapon {
    width: 45%;
    display: inline-block;

  }

  #profileCardSpecial {
    width: 45%;
    display: inline-block;
  }

  #profileCardWeapon img, #profileCardSpecial img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }

  .playerCardVars {
    width: 20%;
    display: inline-block;
  }