body {
    color: white;
    background-color: black;   
    text-align: center;
}

img {
    height: 100px;
    width: 100px;    
}

/* image as radio button and hide the actual radio button */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    outline: solid black;
    background-color: black;
    margin: 5px;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 5px solid red;
  }