* {
    box-sizing: border-box;
  }
  :root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
    background: black;
    color: gray;
    text-align: center;
  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    height: 150px
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }

.character {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: black;
    background-image: url("/assets/images/aGod.png");
    background-size: cover;
}

#character1 {
    background-image: url("/assets/images/aGod.png");
}

#character2 {
    background-image: url("/assets/images/bGod.png");
}

#character3 {
    background-image: url("/assets/images/cGod.png");
}


button {
    margin: 25px 25px 25px 25px;
}

button.character:active {
    outline: solid;
    outline-color: red;
}

button.character:hover {
    outline: solid;
    outline-color: red;
}